mlcourse.ai_Dataset/accidental-deaths-in-usa-monthly.csv
mlcourse.ai_Dataset/ads_hour.csv
mlcourse.ai_Dataset/ads.csv
mlcourse.ai_Dataset/adult_test.csv
mlcourse.ai_Dataset/adult_train.csv
mlcourse.ai_Dataset/adult.data.csv
mlcourse.ai_Dataset/affairs.csv
mlcourse.ai_Dataset/beauty.csv
mlcourse.ai_Dataset/credit_scoring_sample.csv
mlcourse.ai_Dataset/currency.csv
mlcourse.ai_Dataset/flight_delays_test.csv
mlcourse.ai_Dataset/flight_delays_train.csv
mlcourse.ai_Dataset/hostel_factors.csv
mlcourse.ai_Dataset/medium_posts.csv
mlcourse.ai_Dataset/microchip_tests.txt
mlcourse.ai_Dataset/mlbootcamp5_train.csv
mlcourse.ai_Dataset/samsung_test_labels.txt
mlcourse.ai_Dataset/samsung_test.txt
mlcourse.ai_Dataset/samsung_train_labels.txt
mlcourse.ai_Dataset/samsung_train.txt
mlcourse.ai_Dataset/site_dic.pkl
mlcourse.ai_Dataset/telecom_churn.csv
mlcourse.ai_Dataset/titanic_test.csv
mlcourse.ai_Dataset/titanic_train.csv
mlcourse.ai_Dataset/video_games_sales.csv
mlcourse.ai_Dataset/websites_test_sessions.csv
mlcourse.ai_Dataset/websites_train_sessions.csv
mlcourse.ai_Dataset/weights_heights.csv
mlcourse.ai_Dataset/wiki_machine_learning.csv
mlcourse.ai_Dataset/winequality-white.csv
jupyter_english/assignments_demo/assignment01_pandas_uci_adult_solution.ipynb
jupyter_english/assignments_demo/assignment01_pandas_uci_adult.ipynb
jupyter_english/assignments_demo/assignment02_analyzing_cardiovascular_desease_data_solution.ipynb
jupyter_english/assignments_demo/assignment02_analyzing_cardiovascular_desease_data.ipynb
jupyter_english/assignments_demo/assignment03_decision_trees_solution.ipynb
jupyter_english/assignments_demo/assignment03_decision_trees.ipynb
jupyter_english/assignments_demo/assignment04_linreg_optimization.ipynb
jupyter_english/assignments_demo/assignment04_sarcasm_detection_with_logit_solution.ipynb
jupyter_english/assignments_demo/assignment04_sarcasm_detection_with_logit.ipynb
jupyter_english/assignments_demo/assignment05_logit_rf_credit_scoring_solution.ipynb
jupyter_english/assignments_demo/assignment05_logit_rf_credit_scoring.ipynb
jupyter_english/assignments_demo/assignment06_regression_wine_solution.ipynb
jupyter_english/assignments_demo/assignment06_regression_wine.ipynb
jupyter_english/assignments_demo/assignment07_unsupervised_learning_solution.ipynb
jupyter_english/assignments_demo/assignment07_unsupervised_learning.ipynb
jupyter_english/assignments_demo/assignment08_implement_sgd_regressor_solution.ipynb
jupyter_english/assignments_demo/assignment08_implement_sgd_regressor.ipynb
jupyter_english/assignments_demo/assignment09_time_series_solution.ipynb
jupyter_english/assignments_demo/assignment09_time_series.ipynb
jupyter_english/assignments_demo/assignment10_flight_delays_kaggle.ipynb
jupyter_english/projects_indiv/airlines_cancellation_flights_nikita_simonov.ipynb
jupyter_english/projects_indiv/attrition_of_employees_Pisarev_Ivan.ipynb
jupyter_english/projects_indiv/boston.ipynb
jupyter_english/projects_indiv/California_housing_value_prediction_Ilya_Larchenko.ipynb
jupyter_english/projects_indiv/cancer_benign_or_malignant_nikolai_timonin.ipynb
jupyter_english/projects_indiv/Classification_on_zakupkigovru_contracts_Mikhail_Korshchikov.ipynb
jupyter_english/projects_indiv/Diabetes_readmission_Samokhvalov_Mikhail.ipynb
jupyter_english/projects_indiv/diabetic_retinopathy_detection_Kirill_Panin.ipynb
jupyter_english/projects_indiv/Dmitry_Girdyuk_indiv_proj.ipynb
jupyter_english/projects_indiv/elo_merchant_recommendation_tbb.ipynb
jupyter_english/projects_indiv/Forecasting_stock_returns_with_ARIMA,_and_prices_with_Ridge_and_Lasso.ipynb
jupyter_english/projects_indiv/Happiness_and_Turnover.ipynb
jupyter_english/projects_indiv/heart_deseases_Varkentin.ipynb
jupyter_english/projects_indiv/html_markup_product_card_detection_Danila.ipynb
jupyter_english/projects_indiv/indiv_project_aego.ipynb
jupyter_english/projects_indiv/Indiv_project_Sergei_Bulaev-2.ipynb
jupyter_english/projects_indiv/kickstarter_voskresenskii.ipynb
jupyter_english/projects_indiv/lenta_ru_currency_rate_prediction_Maxim_Kashirin.ipynb
jupyter_english/projects_indiv/Melbourne_final.ipynb
jupyter_english/projects_indiv/mobile_price_classification_trefilov_andrew.ipynb
jupyter_english/projects_indiv/pragadeesh_indiv_project.ipynb
jupyter_english/projects_indiv/Predict_bike_sharing_Kozlov_Maxim.ipynb
jupyter_english/projects_indiv/predicting_pulsar_aleksei_demin.ipynb
jupyter_english/projects_indiv/predicting_the_onset_of_diabetes_based_on_diagnostic_measures_altprof.ipynb
jupyter_english/projects_indiv/predicting-wine-expert-rating_maxim-klyuchnikov.ipynb
jupyter_english/projects_indiv/prediction_of_online_shoppers'_purchasing_intention_Georgy_Lazarev.ipynb
jupyter_english/projects_indiv/project_australia_rains_classification_kovalev.ipynb
jupyter_english/projects_indiv/project_car_insurance_nichiporenko.ipynb
jupyter_english/projects_indiv/project_Georgy_Surin_quora_insincere_questions.ipynb
jupyter_english/projects_indiv/project_IgoSorokin.ipynb
jupyter_english/projects_indiv/project_ods_student_perfomance_Chebeneva_Ekaterina.ipynb
jupyter_english/projects_indiv/project_template.ipynb
jupyter_english/projects_indiv/Pubg_finish_placement_prediction.ipynb
jupyter_english/projects_indiv/README.md
jupyter_english/projects_indiv/Recognising_authors_using_ML_methods_Sergey_Ustyantsev.ipynb
jupyter_english/projects_indiv/Rossman_store_sales_Syrovatskiy_Ilya.ipynb
jupyter_english/projects_indiv/sberbank_housing_market_i_kalininskii.ipynb
jupyter_english/projects_indiv/shelter_by_Julia_Mochalova.ipynb
jupyter_english/projects_indiv/Solar_flares_forecasting_Knyazeva.ipynb
jupyter_english/projects_indiv/stackoverflow_career_satisfaction_Kseniia.ipynb
jupyter_english/projects_indiv/stock_prices_abhiklha.ipynb
jupyter_english/projects_indiv/ted_talks_proj_indiv_artem_kuznetsov.ipynb
jupyter_english/projects_indiv/telco-customer-churn-prediction_pavel-taiga.ipynb
jupyter_english/projects_indiv/tweets_agressiveness_ezhova_darya.ipynb
jupyter_english/projects_indiv/will_you_have_a_success_in_speed_dating_tatyana_kudasova.ipynb
jupyter_english/projects_indiv/wines_sudarkova.ipynb
jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb
jupyter_english/topic01_pandas_data_analysis/topic1_practice_pandas_titanic_solution.ipynb
jupyter_english/topic01_pandas_data_analysis/topic1_practice_pandas_titanic.ipynb
jupyter_english/topic01_pandas_data_analysis/topic1_task_1.ipynb
jupyter_english/topic02_visual_data_analysis/topic2_additional_seaborn_matplotlib_plotly.ipynb
jupyter_english/topic02_visual_data_analysis/topic2_practice_visual_titanic_solution.ipynb
jupyter_english/topic02_visual_data_analysis/topic2_practice_visual_titanic.ipynb
jupyter_english/topic02_visual_data_analysis/topic2_visual_data_analysis.ipynb
jupyter_english/topic02_visual_data_analysis/years_stats.html
jupyter_english/topic03_decision_trees_kNN/topic3_decision_trees_kNN.ipynb
jupyter_english/topic04_linear_models/topic4_linear_models_part1_mse_likelihood_bias_variance.ipynb
jupyter_english/topic04_linear_models/topic4_linear_models_part2_logit_likelihood_learning.ipynb
jupyter_english/topic04_linear_models/topic4_linear_models_part3_regul_example.ipynb
jupyter_english/topic04_linear_models/topic4_linear_models_part4_good_bad_logit_movie_reviews_XOR.ipynb
jupyter_english/topic04_linear_models/topic4_linear_models_part5_valid_learning_curves.ipynb
jupyter_english/topic05_ensembles_random_forests/topic5_part1_bagging.ipynb
jupyter_english/topic05_ensembles_random_forests/topic5_part2_random_forest.ipynb
jupyter_english/topic05_ensembles_random_forests/topic5_part3_feature_importance.ipynb
jupyter_english/topic06_features_regression/lesson6_lasso_ridge.ipynb
jupyter_english/topic06_features_regression/topic6_feature_engineering_feature_selection.ipynb
jupyter_english/topic07_unsupervised/lesson7_part1_PCA.ipynb
jupyter_english/topic07_unsupervised/lesson7_part2_kmeans.ipynb
jupyter_english/topic07_unsupervised/topic7_pca_clustering.ipynb
jupyter_english/topic08_sgd_hashing_vowpal_wabbit/topic8_sgd_hashing_vowpal_wabbit.ipynb
jupyter_english/topic09_time_series/topic9_part1_time_series_python.ipynb
jupyter_english/topic09_time_series/topic9_part2_facebook_prophet.ipynb
jupyter_english/topic10_boosting/topic10_gradient_boosting.ipynb
jupyter_english/tutorials/anomaly_detection_isolation_forest_alexander_nichiporenko.ipynb
jupyter_english/tutorials/basic_semi-supervised_learning_models_altprof.ipynb
jupyter_english/tutorials/bring_your_plots_to_life_with_matplotlib_animations_kyriacos_kyriacou.ipynb
jupyter_english/tutorials/Catastrophic_Events_with_Scipy.ipynb
jupyter_english/tutorials/custom_vectorizer_tutorial.ipynb
jupyter_english/tutorials/dask_objects_and_little_dask_ml_tutorial_iknyazeva.ipynb
jupyter_english/tutorials/deploying-your-machine-learning-model_maxim-klyuchnikov.ipynb
jupyter_english/tutorials/Epidemics_on_networks_with_NetworkX_and_EoN_Syrovatskiy_Ilya.ipynb
jupyter_english/tutorials/Feature_engineering_is_all_you_need_ tutorial_Georgy_Surin.ipynb
jupyter_english/tutorials/handling_categorical_data_Danila.ipynb
jupyter_english/tutorials/hyperparameters_tunning_ilya_larchenko.ipynb
jupyter_english/tutorials/Imputing_missing_data_with_fancyimpute_archit_rungta.ipynb
jupyter_english/tutorials/Insights_of_Monty_Hall_paradox_with_Plotly_dmironov.ipynb
jupyter_english/tutorials/Intitutive_Explanation_of_Expectation_Maximization_Algorithm_MagnIeeT.ipynb
jupyter_english/tutorials/Introduction_to_Network_Analysis_with_NetworkX_Georgy_Lazarev.ipynb
jupyter_english/tutorials/kaggle_leaderboard_probing_nikolai_timonin.ipynb
jupyter_english/tutorials/Keras_easy_way_to_construct_the_Neural_Networks_fixed.ipynb
jupyter_english/tutorials/lda_pca_and_topic_modelling_shivam_panwar.ipynb
jupyter_english/tutorials/learn_regex_the_easy_way_aditya_soni.ipynb
jupyter_english/tutorials/LSTM_tutorial_Sergei_Bulaev.ipynb
jupyter_english/tutorials/merging_dataframes_tutorial_max_palko.ipynb
jupyter_english/tutorials/Mlxtend_SFS_an_easy_way_to_select_features.ipynb
jupyter_english/tutorials/more_info_about_numpy_kseniia_terekhova.ipynb
jupyter_english/tutorials/nested_cross_validation_tatyana_kudasova.ipynb
jupyter_english/tutorials/parsing_and_grabbing_tutorial_aleksandr_laskorunsky.ipynb
jupyter_english/tutorials/plotly_tutorial_for_interactive_plots_sankovalev.ipynb
jupyter_english/tutorials/Risk_management_with_Python_Andrey_Varkentin2.ipynb
jupyter_english/tutorials/self_organizing_map_nikita_simonov.ipynb
jupyter_english/tutorials/some_details_in_matplotlib_pisarev_ivan.ipynb
jupyter_english/tutorials/something_else_about_ensemble_tbb.ipynb
jupyter_english/tutorials/statistical_hypothesis_testing_in_python_panin_kirill.ipynb
jupyter_english/tutorials/tutorial_lda_pyldavis_kovalevvyu.ipynb
jupyter_english/tutorials/tutorial_ML_with_VM_Mikhail Korshchikov.ipynb
jupyter_english/tutorials/tutorial_spaCy_chatbot.ipynb
jupyter_english/tutorials/tutorial_template.ipynb
jupyter_english/tutorials/Useful_Google_Colab_snippets.ipynb
jupyter_english/tutorials/Voskresenskii_selenium_tutorial.ipynb
jupyter_english/tutorials/webscraping_ecommerce_website_with_scrapy.ipynb
jupyter_english/tutorials/yet_another_ensemble_learning_helper_aleksandr_korotkov.ipynb
